.search {
    display: flex;
    gap: 0.5rem;

    input[type=search] {
        color: var(--color-text);
        border-radius: 10px;
        padding: 5px;
    }

    button {
        border: 1px solid var(--color-white);
        border-radius: 5px;
        color: #fff;

        &:hover {
            background: var(--color-bg);
            color: var(--color-text);
            transition: .5s;
        }
    }
}