:root {

    // default
    --color-primary: #4a90e2;
    --color-text: #656565;
    --color-text-hover: #2d2af3;

    // palatte
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    --color-gray-1: #111111;
    --color-gray-2: #232323;
    --color-gray-4: #4c4c4c;
    --color-gray-4-rgb: 76, 76, 76;
    --color-gray-7: #767676;
    --color-gray-8: #8c8c8c;
    --color-gray-9: #999999;
    --color-gray-a: #aaaaaa;
    --color-gray-c: #cccccc;
    --color-gray-d: #dddddd;
    --color-gray-e: #eeeeee;
    --color-gray-f: #f6f6f6;

    --color-bg: #f6f6f6;
    --color-blue: #0071f0;
    --color-red: #eb0d00;
    --color-orange: #ff9500;
    --color-yellow: #ffcc00;
    --color-green: #26873e;
    --color-teal: #5ac8fa;
    --color-indigo: #5856d6;
    --color-purple: #af52de;
    --color-pink: #ff2d55;

    --color-em: #ff59e3;

    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    // font styles
    --font-size-xs: 0.5rem;
    --font-size-sm: 0.75rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-weight-xs: 100;
    --font-weight-sm: 300;
    --font-weight-md: 400;
    --font-weight-lg: 700;
    --font-weight-xl: 900;
    --font-family: 'Helvetica Neue', sans-serif;

    // layout
    --container-max-width: 1200px;
    --container-min-width: 280px;

}