.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--color-primary);
    color: var(--color-text);
    box-shadow: var(--box-shadow);

    position: sticky;
    top: 0;

    @media screen and (max-width: 768px) {
        min-height: 150px;
        flex-direction: column;
        padding: 1rem 0;
    }
}